# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.env
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
assets/fonts/PlusJakartaSans-SemiBoldItalic.ttf
assets/fonts/PlusJakartaSans-SemiBold.ttf
assets/fonts/PlusJakartaSans-MediumItalic.ttf
assets/fonts/PlusJakartaSans-Regular.ttf
assets/fonts/PlusJakartaSans-Medium.ttf
assets/fonts/PlusJakartaSans-LightItalic.ttf
assets/fonts/PlusJakartaSans-Light.ttf
assets/fonts/PlusJakartaSans-Italic.ttf
assets/fonts/PlusJakartaSans-ExtraLightItalic.ttf
assets/fonts/PlusJakartaSans-ExtraLight.ttf
assets/fonts/PlusJakartaSans-ExtraBoldItalic.ttf
assets/fonts/PlusJakartaSans-ExtraBold.ttf
assets/fonts/PlusJakartaSans-BoldItalic.ttf
assets/fonts/PlusJakartaSans-Bold.ttf
